h1, h2, h3, h4, h5, h6 {
  font-family: 'Forum', serif;
}

.card-body, .about {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-shadow: 2px 2px #D0CDE1;
}

body {
  background-color: #FDD2C3;
  color: #0B0A0A;
}

.resume {
  position: absolute;
  top: 0;
  right: 10%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.gif {
  background-image: linear-gradient(rgba(208,205,225,0.8),rgba(253,210,195,0.8)), url('assets/gabri.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin: 36px -36px 0 -36px;
}

.header {
  position: relative;
}

.white-box {
  padding-top: 30px;
  background-color: white;
  color: #0B0A0A;
  /*z-index: -1;*/
  border-radius: 50px 50px 0px 0px;
}

.svg-girl {
  width: 80%;
}

.about {
  padding: 36px 50px 50px 50px;
}

.light-box {
  margin-top: -50px;
  padding: 36px 36px 0 36px;
  color: #0B0A0A;
  background-color: #FEF6F4;
  border-radius: 50px 50px 0px 0px;
}

.modal-content {
  background-color: #FEF6F4;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.content {
  background-color: #FEF6F4;
  border-radius: 50px 50px 0px 0px;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}

u:hover {
  color: #FDD2C3;
  cursor: pointer;
  transition: 0.3s ease;
}

.app img {
  width: 100%;
  margin-top: 20px;
}

.resume img {
  width: 150px;
}

.app img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.4s;
  cursor: pointer;
}

.resume img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.4s;
  cursor: pointer;
}

