h1, h2, h3, h4, h5, h6 {
  font-family: 'Forum', serif;
}

p, .card-body, .about {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #FDD2C3;
  color: #0B0A0A;
}

.resume {
  position: absolute;
  top: 0;
  right: 10%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.gif {
  background-image: linear-gradient(rgba(208,205,225,0.8),rgba(253,210,195,0.8)), url('assets/gabri.gif');
  background-repeat: no-repeat;
  border-radius: 50px 50px 0px 0px;
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin: 36px -36px 0 -36px;
}

.header {
  position: relative;
}

.white-box {
  padding-top: 30px;
  /*background-color: white;*/
  color: #0B0A0A;
  border-radius: 50px 50px 0px 0px;
}

.svg-girl {
  width: 80%;
}

.about {
  padding: 36px 50px 50px 50px;
}

.light-box {
  margin-top: -50px;
  padding: 36px 36px 0 36px;
  color: #0B0A0A;
  background-color: #FEF6F4;
  border-radius: 50px 50px 0px 0px;
}

.modal-content {
  background-color: #FEF6F4;
  border: none;
}

.modal-header {
  border-bottom: none;
  height: 60px;
}

.app-gif {
  border-radius:  50px 50px 0px 0px;
}

.app-gif img {
  max-height: 70vh;
}

.story-pdf img {
  max-width: 90%;
  border-radius: 3px;
  border: 1px solid #FDD2C3;
}

.scroll {
  overflow: scroll;
}

u {
  text-decoration: none;
  background: #FDD2C3;
}

.content {
  background-color: #FEF6F4;
  border-radius: 50px 50px 0px 0px;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}

a {
  color: #0B0A0A;
  text-decoration: underline;
}


.app img {
  width: 100%;
  margin-top: 20px;
}

.resume img {
  width: 150px;
}

.close:hover, a:hover {
  color: #FDD2C3;
  cursor: pointer;
  transition: 0.3s ease;
}

u:hover {
  color: #FEF6F4;
  cursor: pointer;
  transition: 0.3s ease;
}

.app img:hover, .story-pdf img:hover, .app-gif img:hover, .resume img:hover {
  opacity: 0.6;
  transform: scale(1.02);
  transition: 0.4s;
  cursor: pointer;
}
